header {
    background-color: #095431;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }