/* src/styles/FormStyles.css */

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form input[type="text"],
  form input[type="number"],
  form textarea {
    width: calc(100% - 22px);
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  form input[type="text"]:focus,
  form input[type="number"]:focus,
  form textarea:focus {
    border-color: #007bff;
  }
  
  form textarea {
    height: 100px;
    resize: vertical;
  }
  
  form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  